#photo_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-heading.photo_image
        = image_tag @photo.image.url
      .panel-body
        %h1= @photo.title
        %p.description= @photo.description
      .panel-footer
        .row
          .col-md-6
            %p.user
              Submitted by
              = @photo.user.email
          .col-md-6
            .btn-group.pull-right
              = link_to like_photo_path(@photo), method: :put, class: "btn btn-default" do
                %span.glyphicon.glyphicon-heart
                = @photo.get_upvotes.size
              - if user_signed_in?
                = link_to "Edit", edit_photo_path, class: "btn btn-default"
                = link_to "Delete", photo_path, method: :delete, data: {confirm:  "Are you sure?"},  class: "btn btn-default"
